body h1,h2,p,label,input,button {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-image: url(4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    

    
}
header{
    background-color: #27bc40;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
main{
    padding: 2rem;
    text-align: center;
}
footer{
    text-align: center;
    padding: 1rem 0;
    background-color:  #051521;
    color: #ac1d1d;
    bottom: 0;
    right: 0;
    left:0;
    position: absolute;
}
.signup.form, .signin.form {
    max-width: 300px;
    margin: 0 auto;
    text-emphasis-color: white;
}
label{
    display: block;
    margin-bottom: 5px;
}
input{
    width: 10%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
button{
    display:inline-block;
    padding: 8px 20px;
    background-color: rgb(134, 168, 172);
    color: #fff;
    border: black;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}
button:hover{
    background-color: #555;
}